.contact{
  padding-top: 50px;
  padding-bottom: 80px;
  .container{
    .row:first-child{
      .col-md-12{
        h1{
          color: #fe5619;
          font-family: Fira sans-serif;
          text-align: center;
        }
        p{
          font-family: sans-serif;
          color: #8a7c7c;
          text-align: center;
        }
      }
    }
    .row:nth-child(2){
      .col-md-4{
        .address{
          margin-bottom: 25px;
          display: flex;
          .addressLeft{
            margin-right: 25px;
            .addressIconContent{
              width: 60px;
              height: 60px;
              border-radius: 50%;
              border: 1px solid #e0d9d9;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all .4s;
              i{
                font-size: 28px;
                color: #fe5619;
                transition: all .4s;
              }
            }
          }
          .addressRight{
            h6{
              font-size: 22px;
              color: #333;
              font-family: Poppins,sans-serif;
              font-weight: 500;
            }
            p{
              color: #606060;
              font-size: 16.5px;
              letter-spacing: 1.3px;
            }
          }
          &:hover{
            .addressIconContent{
              background-color: #fe5619;
              i{
                color: #fff;
              }
            }
          }
        }
      }
      .col-md-8{
        form{
          .row:first-child, .row:nth-child(2){
            margin-bottom: 35px;
            .col-md-6{
              input{
                background-color: #f1f1f1;
                padding: 10px 15px;
                border: none;
                border-radius: 5px;
                width: 100%;
                height: 50px;
              }
              input:focus{
                box-shadow: none;
              }
            }
          }
          .row:nth-child(3){
            margin-bottom: 35px;
            .col-md-12{
              textarea{
                background-color: #f1f1f1;
                border-radius: 5px;
                height: 125px;
                border: none;
                width: 100%;
              }
              textarea:focus{
                box-shadow: none;
              }
            }
          }
          .row:last-child{
            .col-md-12{
              display: flex;
              justify-content: center;
              button{
                padding: 10px 60px;
                color: #fe5619;
                border-color: #fe5619;
                position: relative;
                background-color: transparent;
                overflow: hidden;
                transition: all 0.8s;
              }
              button::before {
                content: "";
                position: absolute;
                left: 0;
                top:0;
                width: 100%;
                height: 0;
                background-color: #fe5619;
                transition:all 0.6s;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius:50% ;
                z-index: -1;
              }
              button:hover::before{
                height: 200%;
              }
              button:hover{
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}