.demo{
  overflow: hidden;
 padding-bottom: 60px;
  .container-fluid{
    .row:first-child{
      .col-md-12{
        h1{
          text-align: center;
          margin-bottom: 60px;
          font-family: Fira sans-serif;
          font-weight: 700;
          color: #fe5619;
        }
      }
    }
    .row:nth-child(2), .row:nth-child(3){
      padding: 0 30px;
      box-sizing: border-box;
      .col-md-4{
        .card{
          position: relative;
          border-radius: 0;
          border: none;
          box-shadow: 0 22px 70px rgba(0, 0, 0,0.1);
          transition: all 0.3s;
          &:hover{
            margin-top: -15px;
            .topCard{
              width: 100%;
              border: 15px solid #fe5619;
              h3{
                opacity: 1;
                left: 31%;
              }
            }
            .textPosition{
              bottom: 10%;
              opacity: 0;
            }
          }
          .topCard{
            position: absolute;
            height: 100%;
            border-color: #fe5619;
            top: 0;
            left: 0;
            width: 0;
            z-index: 2;
            background-color: white;
            display: flex;
            align-items: center;
            transition-duration: .3s;
            transition-timing-function: ease-in;
            transition-property: all;
            h3{
              font-size: 22px;
              font-weight: 700;
              position: absolute;
              left: 27%;
              opacity: 0;
              z-index: 3;
              white-space: nowrap;
              transition: all 0.5s;
            }
          }
          .textPosition{
            position: absolute;
            bottom: 0;
            background-color: white;
            z-index: 1;
            width: 100%;
            padding: 14px 0;
            transition: all 0.5s;
            h3{
              font-size: 22px;
              font-weight: 700;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
    .row:nth-child(3){
      padding-top: 40px;
    }
  }
}
