.features{
  transition:all 0.5s;
  background-color: #fafafa;
  padding-top: 120px;
  box-sizing: border-box;
  padding-bottom: 90px;
  .container{
    .row:first-child{
      margin-bottom: 60px;
      .col-md-12{
        h2{
          text-align: center;
          font-weight: 700;
          font-family: Fira sans-serif;
        }
        .support{
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: center;
          li{
            color: #fe5619;
            margin: 0 10px;
          }
          li:nth-child(2){
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fe5619;
          }
        }
      }
    }
    .row:nth-child(2), .row:nth-child(3), .row:nth-child(4), .row:nth-child(5){
      margin-bottom: 40px;
      .col-md-4{
        .card{
          border-color: #fff;
          box-shadow: 0 -2px 20px  rgba(0, 0, 0 ,0.06);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 36px 0;
          background-color: #fff;
          transition: all 0.3s;
          .featuresContent{
            .imgContent{
              width: 100%;
              display: flex;
              justify-content: center;
              margin-bottom: 20px;
            }
            p{
              text-align: center;
              font-size: 19px;
              font-family: Fira sans-serif;
              font-weight: 500;
            }
          }
          &:hover{
            box-shadow: 0 40px 44px  rgba(0, 0 ,0 ,0.06), 0 40px 44px  rgba(0, 0, 0 , 0.06);
          }
        }
      }
    }
  }
}