.footer{
  padding: 23px 0;
  background-color: #fe5619;
  .container{
    .dNone{
     opacity: 0;
      position: fixed;
      bottom: 77px;
      right: 30px;
      z-index: 100;
      transform: translateX(40px);
      transition: all 0.4s;
      #bottomFixed{
        width: 55px;
        height: 55px;
        background-color: #fe5619;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
          font-size: 23px;
          color: #fff;
          animation-name: bottomFixedAnimation;
          animation-duration: 1.4s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          animation-direction: alternate;
        }
      }
    }
    .dBlock{
      transform: translateX(0);
     opacity: 1;
      position: fixed;
      bottom: 77px;
      right: 30px;
      z-index: 100;
    }
    .row{
      .col-md-12{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footerLeft{
          p{
            margin-bottom: 0;
            color: #fff;
            font-size: 15.5px;
          }
        }
        .footerRight{
          display: flex;
          align-items: center;
          .follow{
            p{
              margin: 0;
              color: #fff;
              font-size: 15.5px;
            }
          }
          .footerIcon{
            display: flex;
            .footerIconContent{
              margin: 0 5px;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: #9e3610;
              text-decoration: none;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.4s;
              i{
                font-size: 15px;
                color: #eee;
                transition: all 0.4s;
              }
              &:hover{
                background-color: #fff;
                i{
                  color:#9e3610;
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes bottomFixedAnimation {
  0%{
    transform: translateY(2.4px);
  }
  100%{
    transform: translateY(-2.4px);
  }
}