@font-face {
  font-family: Fira sans-serif;
  src: url('../fonts/FiraSans-Medium.ttf');
}
.header{
  overflow: hidden;
  .navbarNavbar{
    .container-fluid{
      .row{
        .col-md-12{
          .navbar{
            padding: 30px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navbar-brand{
              .nav-link{
                font-size: 40px;
                color: rgba(0,0,0,0.9);
                font-weight: 700;
                font-family: Fira, sans-serif;
                &:hover{
                  cursor: pointer;
                }
                span{
                  color: #fe5619
                }
                b{
                  color: #fe5619;
                  font-weight: 900;
                }
              }
            }
            .navbarIcon{
              display: none;
            }
            .navbar-nav{
              display: flex;
              align-items: center;

              .nav-item{
                .nav-link{
                  font-size: 16px;
                  color: #8a7c7c;
                  font-weight: 500;
                  letter-spacing: 1px;
                  padding: 0 15px;
                  transition: all .5s;
                  &:hover{
                    color: #fe5619;
                    cursor: pointer;
                  }
                }
              }
              .nav-item:last-child{
                margin-left: 240px;
                .nav-link{
                  button{
                    background-color: #fe5619;
                    border: 1px solid #fe5619;
                    padding: 12px 29px;
                    font-size: 15px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    border-radius: 30px;
                    transition: all .3s;
                    &:hover{
                      border-color: #000;
                      background-color: #000;
                      color: #fff;
                    }
                    i{
                      margin-right: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .templates{
    padding-top: 150px;
    .container{
      .row:first-child{
        .col-md-12{
          display: flex;
          justify-content: center;
          .animationUl{
            list-style-type: none;
            height: 55px;
            line-height: 55px;
            overflow: hidden;
            padding: 0;
            .animationLi{
              font-size: 35px;
              position: relative;
              top: 0;
              animation: Slide 6s steps(3) infinite;
              display: flex;
              align-items: center;
              font-weight: 600;
              color: #fe5619;
            }
            .animationLi::after{
              content: '';
              border-left: 2px solid #fe5619;
              position: absolute;
              width: 100%;
              left: 0;
              height: 100%;
              animation-duration: 2s;
              animation-timing-function: steps(17);
              animation-name: textAnimation;
              animation-iteration-count: infinite;
              background-color: white;
              overflow: hidden;
            }
          }

        }
      }
      .row:last-child{
        .col-md-12{
          h1{
            text-align: center;
            font-weight: 700;
            font-size: 3rem;
            text-align: center;
            font-family: Fira;
            padding-bottom: 180px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
@keyframes textAnimation {
  100%{
    left: 100%;
    margin: 0 -34px  0 34px ;
  }
}
@keyframes Slide {
  100%{
    top:-163px
  }
}