
@media screen and (max-width:576px){
.home{
  .header{
    .navbarNavbar{
      width: 100%;
      position: fixed;
      top: 0;
      z-index:20 ;
      background-color: #f1ecec;
      .container-fluid{
        .row{
          .col-md-12{
            padding: 0;
            .navbar{
              padding: 0;
              height: 100%;
              position: relative;
              display: block;
              .navbar-brand{
                display: inline-block;
               .nav-link{
                 font-size: 27px;
               }
              }
              .navbarIcon{
                display: block;
                display: inline-block;
                border: none;
                background-color: transparent;
                position: absolute;
                top: 32%;
                right: 5%;
                z-index: 100;
                .fa-bars, .fa-times{
                  font-size: 20px;
                  color: #333333;
                }
                .fa-times{
                  font-size: 23px;
                  margin-top: -2px;
                  margin-left: -1px;
                }
              }
              .navbar-nav{
                background-color: #f8f5f5;
                width: 100%;
                position: absolute;
                left: 0;
                display:block;
                z-index: 10;
                .nav-item{
                  display: block;
                  padding: 10px;
                  transition: all 0.3s;
                  &:hover{
                    transform: translateX(11px);
                    .nav-link{
                      color: #fe5619;
                    }
                  }
                  .nav-link{
                    font-size: 15px;
                  }
                }
                .nav-item:last-child{
                  margin-left: 0;
                  &:hover{
                    transform: translateX(0);
                  }
                  .nav-link{
                    .btn{
                      padding: 9px 26px;
                      font-size: 13px;
                      i{
                        font-size: 13px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .templates{
      .container{
        .row:first-child{
          .col-md-12{
            .animationUl{
              .animationLi{
                font-size: 20px;

              }
            }
          }
        }
        .row:last-child{
          .col-md-12{
            h1{
              font-size: 35px;
              padding-bottom: 140px;
            }
          }
        }
      }
    }
  }
  .demo{
    padding-bottom: 0;
    .container-fluid{
      .row:first-child{
        .col-md-12{
          h1{
            font-size: 25px;
          }
        }
      }
      .row:nth-child(3){
        padding-top: 0;
      }
      .row:nth-child(2), .row:nth-child(3){
        .col-md-4{
          .card{
            margin-bottom: 40px;
          }
        }
      }
      .row{
        .col-md-4{
          .card{
            .topCard{
              h3{
                font-size: 20px;
                color:#fe5619 ;
              }
            }
            .textPosition{
              h3{
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
  .features{
    padding: 0 30px;
    .container{
      .row:first-child{
        .col-md-12{
          h2{
            font-size: 25px;
            color: #fe5619;
          }
          .support{
            display: block;
           padding-left: 0;
            li{
              font-size: 14px;
              display: block;
              text-align: center;
            }
            li:nth-child(2){
              display: none;
            }
          }
        }
      }
      .row:nth-child(2), .row:nth-child(3), .row:nth-child(4), .row:nth-child(5){
        margin-bottom: 0;
        .col-md-4{
          margin-bottom: 50px;
        }
      }
    }
  }
  .team{
    padding-top: 30px;
    overflow: hidden;
    .container{
      .row{
        .col-md-12{
          h1{
            font-size: 25px;
          }
          p{
            font-size: 14px;
          }
        }
      }
      .item{
        .teamCard{

        }
      }
    }
  }
  .contact{
    .container{
      .row:first-child{
        .col-md-12{
          h1{
            font-size: 25px;
          }
          p{
            font-size: 14px;
          }
        }
      }
      .row:nth-child(2){
        .col-md-4{
          margin-bottom: 35px;
          .address{
            display: block;
            .addressLeft{
              margin-right: 0;
              display: flex;
              justify-content: center;
              .addressIconContent{
                width: 40px;
                height: 40px;
                i{
                  font-size: 16px;
                }
              }
            }
            .addressRight{
              h6{
                font-size: 16px;
                text-align: center;
              }
              p{
                font-size: 13px;
                text-align: center;
              }
            }
          }
        }
        .col-md-8{
          form{
            .row:first-child, .row:nth-child(2){
              margin-bottom: 0;
              .col-md-6{
                margin-bottom: 20px;
                input::placeholder{
                  font-size: 14px;
                }
              }
            }
            .row:nth-child(3){
              textarea::placeholder{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .footer{
    .container{
      #dNone{
        bottom: 15px;
        right: 11px;
        #bottomFixed{
          width: 45px;
          height: 45px;
          i{
            font-size: 20px;
          }
        }
      }
      .row{
        .col-md-12{
          display: block !important;
          .footerLeft{
            p{
              font-size: 14px !important;
              text-align: center;
              padding-bottom: 17px;
              letter-spacing: 1px;
            }
          }
          .footerRight{
            justify-content: center;
            .follow{
              p{
                font-size: 14px !important;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
    }
  }
}
}
