.team{
  padding-bottom: 70px;
  background-image: linear-gradient(#fafafa, #fff);
  .container {
    padding: 0;
    width: 100%;
    .row {
      .col-md-12 {
        h1 {
          text-align: center;
          color: #fe5619;
          font-family: Fira sans-serif;
        }

        p {
          color: #bca8a8;
          text-align: center;
          margin-bottom: 55px;
        }
      }
    }
  }
  .item{
    .teamCard{
      width: 100%;
      padding: 0 8px;
      box-sizing: border-box;
      position: relative;
      img{
        width: 100%;
      }
      .teamName{
        position: absolute;
        left: 70px;
        bottom: 70px;
        right: 70px;
        background-color: #bca8a8;
        background-color: rgba(0,0,0,.6);
        padding: 30px 0;
        opacity: 0;
        transition: all 0.4s;
        h5, h6{
          text-align: center;
        }
        h5{
          color: #fe5619;
          font-family: Poppins,sans-serif;
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 26px;
        }
        h6{
          color: #fff;
          font-family: Fira sans-serif;
          font-size: 15px;
        }
        .icons{
          display: flex;
          justify-content: center;
          padding-top: 10px;
          a{
            text-decoration: none;
            .iconContent{
              width: 35px;
              height: 35px;
              border-radius: 50%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 5px;
              transition: all 0.3s;
              i{
                color: #fe5619;
                font-size: 13px;
                transition: all 0.3s;
              }
              &:hover{
                background-color: #fe5619;
                i{
                  color: #fff;
                }
              }
            }
          }
        }
      }
      &:hover{
        .teamName{
          opacity: 1;
          left: 15px;
          bottom: 14px;
          right: 15px;
        }
      }
    }
  }
}
.alice-carousel{
  position: relative;
  .alice-carousel__dots{
    display: none;
  }
  .alice-carousel__prev-btn-item{
    position: absolute;
    top: -40px;
    left: 7px;
    padding: 1px 10px;
    background-color: #d6d6d6;
    border-radius: 5px;
  }
  .alice-carousel__prev-btn-item span::after{
    font-size: 20px;
    font-weight: 800;
    color: #fe5619;
  }
  .alice-carousel__next-btn-item{
    position: absolute;
    top: -40px;
    right: 7px;
    padding: 1px 10px;
    background-color: #d6d6d6;
    border-radius: 5px;
  }
  .alice-carousel__next-btn-item span::after{
    font-size: 20px;
    font-weight: 800;
    color: #fe5619;
  }
}